@charset "ISO-8859-1";



body
{
	 background-image:url('https://i.pinimg.com/564x/79/8f/37/798f371b30bee4c0035851a2f4e65677.jpg');
     background-repeat:no-repeat;
     background-size:cover;
     font-family:Monotype Corsiva;
	
}

.line
{
	font-size:25px;
	padding-left:120px;
   padding-right:90px;
}

#para
{
	margin-top:150px;
	font-size:25px;
	padding-left:120px;
	padding-right:90px;
    
}

a
{
	color:white;
	text-decoration:none;
	font-size:40px;
	 
}

#sings
{
	position: sticky;
     top: 0;
}

footer
 {
 display:flex;
 justify-content:space-around;
  margin-top:50px;
  padding:15px;
   height:150px;
   font-size:20px;
   background-color:rgba(236, 240, 241 ,0.5);
   color:black;
   border-radius:7px;
   text-align:center;
 }
 
 .info
 {
   margin-right:50px;
   margin-left:50px;
 }
 
 #email
 {
   margin-left:50px;
 }