@charset "ISO-8859-1";



form
{
	width:400px;
    position:relative;
    top:150px;
   
}

body
{
	 background-image:url('https://images.pexels.com/photos/1750566/pexels-photo-1750566.jpeg');
     background-repeat:no-repeat;
     background-size:cover;

}

fieldset
{
	background-color:rgba(28, 40, 51 ,0.3);
	border-radius:7px;
	
}

a
{
	color:white;
	text-decoration:none;
}
legend
{
	color:white;
	font-size:25px;
	text-align:center;
}
.input
{
	height:15px;
	width:250px;
	border:2px solid white;
	margin-bottom:8px;
	background-color:rgba(28, 40, 51 ,0.3);
	border-radius:7px;
	padding:15px;
	color:white;
	font-size:18px;
	margin-left:40px;
}

.submit
{
	height:48px;
	width:290px;
	font-size:18px;
	border-radius:7px;
}

.new
{
	display:flex;
	justify-content:space-around;
	font-size:18px;
	margin-top:10px;
	
}

footer
 {
 display:flex;
 justify-content:center;
  padding:15px;
   height:150px;
   font-size:20px;
   background-color:rgba(236, 240, 241 ,0.5);
   color:black;
   border-radius:7px;
   text-align:center;
   position:relative;
   top:410px;
 }
 
 .info
 {
   margin-right:50px;
   margin-left:50px;
 }
 
 #email
 {
   margin-left:50px;
 }