<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>LibraryProject.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <display-name>OnlineLibraryProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminRegistration</display-name>
    <servlet-name>AdminRegistration</servlet-name>
    <servlet-class>Registration.AdminRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegistration</servlet-name>
    <url-pattern>/AdminRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffLogin</display-name>
    <servlet-name>StaffLogin</servlet-name>
    <servlet-class>LibraryProject.StaffLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffLogin</servlet-name>
    <url-pattern>/StaffLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBookDetails</display-name>
    <servlet-name>ShowBookDetails</servlet-name>
    <servlet-class>LibraryProject.ShowBookDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBookDetails</servlet-name>
    <url-pattern>/ShowBookDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Showstaff</display-name>
    <servlet-name>Showstaff</servlet-name>
    <servlet-class>LibraryProject.Showstaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showstaff</servlet-name>
    <url-pattern>/Showstaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffRegistraion</display-name>
    <servlet-name>StaffRegistraion</servlet-name>
    <servlet-class>Registration.StaffRegistraion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffRegistraion</servlet-name>
    <url-pattern>/StaffRegistraion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDetailsInStaff</display-name>
    <servlet-name>BookDetailsInStaff</servlet-name>
    <servlet-class>LibraryProject.BookDetailsInStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDetailsInStaff</servlet-name>
    <url-pattern>/BookDetailsInStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBook</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>Registration.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userLogin</display-name>
    <servlet-name>userLogin</servlet-name>
    <servlet-class>LibraryProject.userLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookBorrow</display-name>
    <servlet-name>BookBorrow</servlet-name>
    <servlet-class>LibraryProject.BookBorrow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookBorrow</servlet-name>
    <url-pattern>/BookBorrow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBorrowedBooks</display-name>
    <servlet-name>ShowBorrowedBooks</servlet-name>
    <servlet-class>LibraryProject.ShowBorrowedBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBorrowedBooks</servlet-name>
    <url-pattern>/ShowBorrowedBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowedBooks</display-name>
    <servlet-name>BorrowedBooks</servlet-name>
    <servlet-class>LibraryProject.BorrowedBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowedBooks</servlet-name>
    <url-pattern>/BorrowedBooks</url-pattern>
  </servlet-mapping>
</web-app>